body {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: #fff;
}

.text-color {
    background-color: hsl(145, 60%, 22%);
}

.clip-card-shape {
    clip-path: polygon(0 8%, 89% 0%, 652% -8%, 106% 94%, 31% 100%, 13% 100%, 2% 100%, 0% 100%, 0 33%);
}

.bg-shaper {
    clip-path: polygon(33% 0, 100% 0%, 68% 100%, 0% 100%);
}


/* @media screen and (max-width: 576px){
    #background-image{
    }
} */